.features {
  @include container();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include breakpoint(small only) {
    padding-top: 30px;
    display: block;
    @include container-fullwidth();
  }
  .feature-header {
    margin-top: 100px;
    margin-bottom: 50px;
    flex: 1 0 100%;
    &:first-of-type {
      margin-top: 280px;
    }
    @include breakpoint(small only) {
      display: block;
      text-align: left;
      border-top: 1px solid #CCC;
      padding: 30px;
    }
    h1 {
      width: 90%;
      text-align: center;
      font-size: 70px;
      line-height: 76px;
      font-family: $base-font;
      font-weight: $font-light;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: capitalize;
      @include breakpoint(small only) {
        width: auto;
        text-align: left;
        font-size: 30px;
        line-height: 36px;
        font-family: $base-font;
        font-weight: $font-light;
        margin: 0 auto;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      @include breakpoint(medium only) {
        width: 90%;
        text-align: center;
        font-size: 50px;
        line-height: 56px;
      }
    }
    h2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      font-family: $base-font;
      font-weight: $font-regular;
      color: #666;
      @include breakpoint(small only) {
        font-size: 18px;
        width: auto;
        line-height: 26px;
        text-align: left;
      }
      @include breakpoint(medium only) {
        font-size: 26px;
        line-height: 32px;
      }
    }
  }
}
.feature {
  flex: 0 0 33%;
  text-align: center;
  padding: 10px;
  @include breakpoint(small only) {
    cursor: pointer;
    text-align: left;
    border-top: 1px solid #CCC;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
    &.open {
      background: #f7f7f7;
    }
  }
  .feature-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    @include breakpoint(small only) {
      text-align: left;
      width: auto;
      height: auto;
    }
    img {
      display: inline-block;
      width: 50px;
      text-align: center;
      vertical-align: middle;
      @include breakpoint(small only) {
        display: inline-block;
        width: 24px;
        line-height: 28px;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
  .feature-heading {
    font-size: 20px;
    font-weight: $font-regular;
    color: $primary-color;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
    @include breakpoint(small only) {
      display: inline-block;
      line-height: 28px;
      vertical-align: middle;
      margin: 0;
      font-size: 18px;
      font-weight: $font-semi-bold;
    }
  }
  .feature-body {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    @include breakpoint(small only) {
      display: none;
      padding-left: 37px;
      width: 90%;
      font-size: 16px;
      line-height: 24px;
      padding-top: 5px;
    }
    &.show {
      @include breakpoint(small only) {
        display: block;
      }
    }
  }
  .feature-toggle {
    float: right;
    cursor: pointer;
    &:hover {
      &:before {
        color: $primary-color;
      }
    }
    &:before {
      @include fa-icon();
      content: $fa-var-chevron-down;
      color: #CCC;
      font-size: 14px;
      font-weight: lighter;
    }
    @include breakpoint(medium up) {
      display: none;
    }
  }
  .snap {
    //background: rgba(255, 245, 27, 0.38);
    //background: #CCC;
    //padding: 0 4px 0 4px;
    border-radius: 3px;
    color: #000;
    font-weight: $font-semi-bold;
  }
}