.features {
  @include container();
  padding-top: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include breakpoint(small only) {
    padding-top: 30px;
    display: block;
    @include container-fullwidth();
  }
  .feature-header {
    @include breakpoint(small only) {
      display: block;
      text-align: left;
      border-top: 1px solid #CCC;
      padding: 30px;
    }
    &:first-child {
      @include breakpoint(small only) {
        padding: 30px;
      }
    }
    h1 {
      width: 90%;
      text-align: center;
      font-size: 70px;
      line-height: 76px;
      font-family: $base-font;
      font-weight: $font-light;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: capitalize;
      @include breakpoint(small only) {
        width: auto;
        text-align: left;
        font-size: 30px;
        line-height: 36px;
        font-family: $base-font;
        font-weight: $font-light;
        margin: 0 auto;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
    }
    h2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      font-family: $base-font;
      font-weight: $font-regular;
      color: #666;
      @include breakpoint(small only) {
        font-size: 18px;
        width: auto;
        line-height: 26px;
        text-align: left;

      }
    }
  }
}
.feature {
  flex: 0 0 30%;
  text-align: center;
  @include breakpoint(small only) {
    text-align: left;
    border-top: 1px solid #CCC;
    padding: 10px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      background: #EAEAEA;
    }
  }
  &.open {
    background: #EAEAEA;
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.1);
    //background: linear-gradient(to left, #8E54E9, #4776E6);
  }
  .feature-image {
    display: inline-block;
    //height: 100px;
    //width: 100px;
    //padding: 20px;
    //border-radius: 50%;
    //vertical-align: middle;
    @include breakpoint(small only) {
      text-align: left;
    }
    img {
      display: inline-block;
      width: 50px;
      text-align: center;
      vertical-align: middle;
      @include breakpoint(small only) {
        display: inline-block;
        width: 24px;
        line-height: 28px;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
  .feature-heading {
    font-size: 20px;
    font-weight: $font-regular;
    color: $primary-color;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
    @include breakpoint(small only) {
      display: inline-block;
      line-height: 28px;
      vertical-align: middle;
      margin: 0;
      font-size: 18px;
    }
  }
  .feature-body {
    text-align: left;
    line-height: 20px;
    color: #666;
    @include breakpoint(small only) {
      display: none;
      padding-left: 38px;
      width: 90%;
    }
    &.show {
      @include breakpoint(small only) {
        display: block;
      }
    }
  }
  .feature-toggle {
    float: right;
    cursor: pointer;
    &:hover {
      &:before {
        color: $primary-color;
      }
    }
    &:before {
      @include fa-icon();
      content: $fa-var-chevron-down;
      color: #CCC;
      font-size: 14px;
      font-weight: lighter;
    }
  }
  .snap {
    background: rgba(255, 245, 27, 0.38);
    padding: 0 4px 0 4px;
    border-radius: 3px;
    color: #000;
  }
}