.features {
  @include container();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 280px;
  .feature-header {
    h1 {
      width: 90%;
      text-align: center;
      font-size: 70px;
      line-height: 76px;
      font-family: $base-font;
      font-weight: $font-light;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    h2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      font-family: $base-font;
      font-weight: $font-regular;
      color: #666;
    }
  }
}
.feature {
  flex: 0 0 30%;

  text-align: center;
  .feature-image {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    img {
      display: inline-block;
      width: 50px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .feature-heading {
    font-size: 20px;
    font-weight: $font-regular;
    color: $primary-color;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .feature-body {
    text-align: left;
    line-height: 20px;
    color: #666;
  }
  .snap {
    background: rgba(255, 245, 27, 0.38);
    padding: 0 4px 0 4px;
    border-radius: 3px;
    color: #000;
  }
}