.heros {
}
.hero {
  height: 800px;
  background-color: $primary-color;
  background: linear-gradient(to left, #8E54E9, #4776E6);
  @include breakpoint(small only) {
    height: auto;
  }
  .hero-container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    @include breakpoint(small only) {
      padding: 10px;
      padding-top: 40px;
    }
    @include breakpoint(medium only) {
      padding: 10px;
      padding-top: 40px;
    }
    @include breakpoint(large up) {
      padding-top: 80px;
    }
  }
  .hero-desktop-screenshot {
    max-width: 1000px;
    @include breakpoint(small only) {
      display: none;
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      max-width: 76%;
    }
    @include breakpoint(large up) {
      max-width: 900px;
    }
    @include breakpoint(extra-large up) {
      max-width: 1000px;
    }
    img {
      width: 90%;
      box-shadow: 3px -4px 38px rgba(0, 0, 0, 0.2);
      @include breakpoint(small only) {
        width: 100%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .hero-desktop-screenshot-for-mobile {
    display: none;
    @include breakpoint(small only) {
      display: block;
    }
    img {
      @include breakpoint(small only) {
        width: 100%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .hero-mobile-screenshot {
    position: absolute;
    top: 330px;
    left: 50%;
    z-index: 10;
    width: 346px;
    @include breakpoint(small only) {
      display: none;
    }
    @include breakpoint(medium only) {
      position: absolute;
      top: 230px;
      left: 60%;
      z-index: 10;
      width: 290px;
    }
    @media screen and (min-width: 900px) and (max-width: 1024px) {
      position: absolute;
      top: 220px;
      left: 64%;
      z-index: 10;
      width: 300px;
    }
    @include breakpoint(large up) {
      position: absolute;
      top: 280px;
      left: 67%;
      z-index: 10;
      width: 300px;
    }
    @include breakpoint(extra-large up) {
      position: absolute;
      top: 280px;
      left: 50%;
      z-index: 10;
      width: 320px;
    }
    //@media screen and (min-width: 1025px) and (max-width: 1200px) {
    //  position: absolute;
    //  top: 220px;
    //  left: 46%;
    //  z-index: 10;
    //  width: 320px;
    //}
    img {
      width: 100%;
      border-radius: 40px;
      box-shadow: 13px 30px 38px rgba(252, 80, 255, 0.4);
    }
  }
  .hero-intro-text {
    position: absolute;
    top: 150px;
    left: 74%;
    z-index: 10;
    width: 240px;
    @include breakpoint(small only) {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
    }
    @include breakpoint(medium only) {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
    }
    @include breakpoint(large up) {
      position: relative;
      top: 0;
      left: 0;
      padding: 10px;
      width: 100%;
    }
    @include breakpoint(extra-large up) {
      position: absolute;
      top: 130px;
      left: 78%;
      z-index: 10;
      width: 260px;
    }
    h1 {
      color: #FFF;
      font-size: 56px;
      line-height: 60px;
      font-weight: $font-light;
      @include breakpoint(small only) {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 13px;
      }
      @include breakpoint(medium only) {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 13px;
      }
      @include breakpoint(large up) {
        margin-bottom: 13px;
      }
      span {
        @include breakpoint(small only) {
          display: block;
        }
      }
    }
    p {
      font-size: 22px;
      color: #FFF;
      @include breakpoint(small only) {
        font-size: 20px;
        line-height: 24px;
        color: #FFF;
        margin-bottom: 20px;
        width: 90%;
      }
      @include breakpoint(medium only) {
        font-size: 22px;
        line-height: 26px;
        color: #FFF;
        margin-bottom: 20px;
        width: 90%;
      }
      @include breakpoint(large up) {
        margin-bottom: 20px;
        width: 70%;
      }
      @include breakpoint(extra-large up) {
        margin-bottom: 20px;
        width: 100%;
      }
    }
    .btn {
      padding: 13px 50px;
      border-radius: 0;
      margin-bottom: 20px;
      background: yellow;
      color: darken(yellow, 30%);
      font-weight: $font-bold;
      margin-right: 7px;
      @include breakpoint(small only) {
        padding: 13px 20px;
        border-radius: 0;
        margin-bottom: 20px;
      }
      @include breakpoint(extra-large up) {
        margin-right: 0px;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
