.menu-header {
  float: right;
  ul {
    li {
      float: left;
      margin-left: 20px;
      a {
        color: $primary-color;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}