.screenshots {
  padding-top: 100px;
  padding-bottom: 100px;
  .screenshot {
    text-align: center;
    .screenshot-title {
      font-size: 48px;
      font-weight: normal;
      color: #333;
    }
    .screenshot-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}