// This is only for styling body content.

@mixin set-content() {
  p {
    margin-bottom: 0;
    margin-top: 18px;
    color: #343434;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: 26px;
  }
  h1 {
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $custom-font;
    font-size: 40px;
    font-weight: 400;
  }
  h2 {
    color: #6E6E6E;
    margin-top: 20px;
    font-family: $custom-font;
    font-weight: $font-regular;
    font-size: 32px;
    line-height: 38px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 13px;
    font-family: $custom-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  ul,
  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 18px;
    li {
      color: #343434;
      font-family: $base-font;
      font-size: $base-font-size;
      line-height: $base-line-height;
      list-style-type: disc;
      &:before {
        //@include fa-icon();
        //font-size: 12px;
        //line-height: 12px;
        //margin-bottom: 4px;
        //content: $fa-var-caret-right;
        //color: $primary-color;
        //margin-right: 10px;
        //vertical-align: middle;
      }
    }
  }
  a {
    text-decoration: none;
    color: $primary-color;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  blockquote {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #CCCCCC;
    p {
      font-size: inherit;
    }
  }
}

.text-formatted {
  @include set-content();
}

.set-content {
  @include set-content();
}