<div class="search">
    <div class="search-input">
        <div class="search-icon"></div>
        <input type="text" class="form-control" placeholder="Search" aria-label="...">
    </div>
    <div class="search-dropdown">
        <select id="search_cats" class="form-control search_cats" name="cat" sb="63504965">
            <option value="all" selected="selected">All Categories</option>
            <option value="2038">Trading Cards</option>
            <option value="1938">Memorabilia</option>
            <option value="1961">Video Games</option>
            <option value="2040">Pop Culture</option>
        </select>
    </div>
    <button class="btn btn-primary btn-lg search-button">Search</button>
    <a href="#" class="search-advanced-link">Advanced Search</a>
</div>