<div class="feature">
    <div class="feature-image">
        <img class="feature-icon" src="assets/images/<%- icon %>">
    </div>
    <h2 class="feature-heading"><%- title %></h2>
    <p class="feature-body"><%- body %></p>
</div>