<div class="navbar navbar-default yamm">

    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown yamm-fw mm-buy">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Buy<i class="angle"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="row top-row">
                            <div class="mm-buy-left">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab-buy-1" aria-controls="profile" role="tab" data-toggle="tab"><i class="ico ico-photo-gallery"></i>Trading
                                            Cards</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-buy-2" aria-controls="messages" role="tab" data-toggle="tab"><i class="ico ico-date"></i>Memorabilia</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-buy-3" aria-controls="settings" role="tab" data-toggle="tab"><i class="ico ico-joy"></i>Video
                                            Games</a></li>
                                    <li role="presentation">
                                        <a href="#tab-buy-4" aria-controls="settings" role="tab" data-toggle="tab"><i class="ico ico-bookmarks"></i>Comic
                                            Books</a></li>
                                </ul>
                            </div>
                            <div class="mm-buy-right">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab-buy-1">
                                        <div class="yamm-wrap">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h2><a href="#">Sports Cards</a></h2>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h2><a href="#">Non-Sports Cards</a></h2>
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h2><a href="#">Supplies & Storage</a></h2>
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h2><a href="#">Gaming Cards</a></h2>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="mm-list">
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                                <li><a href="#">Item 1</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mm-image-box">
                                                                <img src="assets/images/pokemon-collide.jpg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-2">
                                        <div class="yamm-wrap">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>Tab 2</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-3">
                                        <div class="yamm-wrap">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>Tab 2</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-4">
                                        <div class="yamm-wrap">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>Tab 2</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class=""><a href="#">Sell<i class="angle"></i></a>
            <li class=""><a href="#">Breaks<i class="angle"></i></a>
            <li class=""><a href="#">Checklist<i class="angle"></i></a>
            </li>
            <li class="dropdown dropdown-align-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">Help<i class="angle"></i></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a tabindex="-1" href="#"> Action </a></li>
                    <li><a tabindex="-1" href="#"> Another action </a></li>
                    <li><a tabindex="-1" href="#"> Something else here </a></li>
                    <li><a tabindex="-1" href="#"> Separated link </a></li>
                </ul>
            </li>
            <li class="dropdown yamm-fw mm-my-gimko"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Gimko<i class="angle"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-wrap">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-user"></i><a href="#">My Account</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-cart"></i><a href="#">Buying</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-id"></i><a href="#">Selling</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-box1"></i><a href="#">My Store</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="yamm-wrap">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-hourglass"></i><a href="#">Purchase History</a>
                                    </h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-star"></i><a href="#">Favourites</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-config"></i><a href="#">Seller Settings</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="mm-mygimkoe-heading"><i class="ico ico-tools"></i><a href="#">Gimko Tools</a></h2>
                                    <ul class="mm-list">
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                        <li><a href="#">Item 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>