<div class="menu-docs">
    <h2>Drydock Business</h2>
    <ul>
        <li><a href="/docs/business/quickstart.html">Quickstart</a></li>
        <li><h3>Local Environment Setup</h3></li>
        <li><a href="/docs/business/drupalvm.html">Install with DrupalVM</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/docs">Docs</a></li>
    </ul>
</div>