<div class="menu-docs">
    <h2>Drydock Business</h2>
    <ul>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/docs">Docs</a></li>
    </ul>
</div>