.field-name-node-title {
  h2 {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: $base-font;
    font-size: 22px; 
    font-weight: $font-regular;
    line-height: 24px;
    color: #333333;
  }
  h1 {
    color: #333333;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $base-font;
    font-size: 42px;
    font-weight: 200;
    line-height: 48px;
  }
}
