<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drydock Themes</title>

    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
    <link href="assets/css/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<section class="header header-fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="screenshots">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="screenshot">
                    <h2 class="screenshot-title">Drydock Business - Premium Theme</h2>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <a href="#" class="btn btn-primary">Demo</a>
                    <div class="screenshot-image">
                        <img src="assets/images/screenshot-homepage.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
