@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700|Nunito+Sans:200,300,400,600,700|Hind:400,600,700|Montserrat:300,400,500,700,900|Roboto:300,400,500,700");
html,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

blockquote:before, blockquote:after {
  content: '';
}

img {
  display: inline-block;
  vertical-align: bottom;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  margin: 0;
  padding: 0;
}

/*
 * Drydock Theme Variables
 */
/*
 * Foundation 6.4 Variables
 */
/*
 * The Breakpoint Mixin - https://foundation.zurb.com/sites/docs/media-queries.html
 *
 * @include breakpoint();
 *
 * .element {
 *    // Only affects medium screens and larger
 *    @include breakpoint(medium) { }
 *
 *    // Only affects medium screens and smaller
 *    @include breakpoint(medium down) { }
 *
 *    // Only affects medium screens, not small or large
 *    @include breakpoint(medium only) { }
 * }
 *
 */
/*
 * Foundation Docs: https://foundation.zurb.com/sites/docs/grid.html
 *
 * @include grid-row();
 * @include grid-column();
 *
 * .container {
 *   @include grid-row() {
 *     .main-content {
 *       @include grid-column(8);
 *     }
 *     .sidebar {
 *       @include grid-column(4);
 *     }
 *   }
 * }
 *
 */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
}

.btn:link, .btn:visited {
  color: #FFFFFF;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.btn-cancel {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
  border-color: #6E706F;
  background-color: #6E706F;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #555656;
  background-image: none;
  box-shadow: none;
}

.btn-clear {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
  color: #33669B;
  border: 1px solid #33669B;
  background-color: #FFFFFF;
}

.btn-clear:link, .btn-clear:visited {
  color: #FFFFFF;
}

.btn-clear:hover, .btn-clear:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.logo {
  float: left;
  width: 198px;
  height: 18px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .logo {
    float: left;
    width: 198px;
    height: 18px;
    background-image: url("../images/logo-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.top {
  background: #4776E6;
}

.header {
  padding: 13px 0 12px 0;
  border-bottom: 1px solid #EAEAEA;
  background: #FFFFFF;
  transition: padding 225ms, box-shadow 225ms, background-color .3s;
}

.header.scrolled-into-view, .header.header-fixed {
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(36, 50, 66, 0.15);
  transition: padding 225ms, box-shadow 225ms, background-color .3s;
  width: 100%;
  z-index: 900;
  top: 0;
}

.subheader {
  background: #FFFFFF;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  border: 1px solid #CCC;
}

.screenshots {
  padding-top: 100px;
  padding-bottom: 100px;
}

.screenshots .screenshot {
  text-align: center;
}

.screenshots .screenshot .screenshot-title {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #333;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .screenshots .screenshot .screenshot-title {
    font-size: 36px;
    line-height: 40px;
  }
}

.screenshots .screenshot .screenshot-subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .screenshots .screenshot .screenshot-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.screenshots .screenshot .screenshot-image img {
  width: 100%;
  height: auto;
}

.heros {
  display: flex;
  margin-bottom: 60px;
}

.hero {
  flex: 1 1 0;
  min-height: 400px;
  background-color: #4776E6;
  background: linear-gradient(to left, #8E54E9, #4776E6);
  text-align: center;
  padding: 140px 50px 50px 50px;
}

.hero h2 {
  margin: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero .btn {
  padding: 13px 50px;
  border-radius: 0;
}

.hero:nth-child(2) {
  background-color: #4776E6;
  background-image: url("../images/tile-bg-navy.jpg");
}

body {
  margin: 0;
  padding: 0;
  color: #1B1B1B;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */