@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700|Nunito+Sans:200,300,400,600,700|Hind:400,600,700|Montserrat:300,400,500,700,900|Roboto:300,400,500,700");
html,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

blockquote:before, blockquote:after {
  content: '';
}

img {
  display: inline-block;
  vertical-align: bottom;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  margin: 0;
  padding: 0;
}

/*
 * Drydock Theme Variables
 */
/*
 * Foundation 6.4 Variables
 */
/*
 * The Breakpoint Mixin - https://foundation.zurb.com/sites/docs/media-queries.html
 *
 * @include breakpoint();
 *
 * .element {
 *    // Only affects medium screens and larger
 *    @include breakpoint(medium) { }
 *
 *    // Only affects medium screens and smaller
 *    @include breakpoint(medium down) { }
 *
 *    // Only affects medium screens, not small or large
 *    @include breakpoint(medium only) { }
 * }
 *
 */
/*
 * Foundation Docs: https://foundation.zurb.com/sites/docs/grid.html
 *
 * @include grid-row();
 * @include grid-column();
 *
 * .container {
 *   @include grid-row() {
 *     .main-content {
 *       @include grid-column(8);
 *     }
 *     .sidebar {
 *       @include grid-column(4);
 *     }
 *   }
 * }
 *
 */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
}

.btn:link, .btn:visited {
  color: #FFFFFF;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.btn-cancel {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
  border-color: #6E706F;
  background-color: #6E706F;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #555656;
  background-image: none;
  box-shadow: none;
}

.btn-clear {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-color: #4776E6;
  outline: none;
  background-color: #4776E6;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .15s ease;
  color: #33669B;
  border: 1px solid #33669B;
  background-color: #FFFFFF;
}

.btn-clear:link, .btn-clear:visited {
  color: #FFFFFF;
}

.btn-clear:hover, .btn-clear:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7497ec;
  background-image: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.features {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 280px;
}

.features .feature-header h1 {
  width: 90%;
  text-align: center;
  font-size: 70px;
  line-height: 76px;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.features .feature-header h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-weight: 400;
  color: #666;
}

.feature {
  flex: 0 0 30%;
  text-align: center;
}

.feature .feature-image {
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.feature .feature-image img {
  display: inline-block;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.feature .feature-heading {
  font-size: 20px;
  font-weight: 400;
  color: #4776E6;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.feature .feature-body {
  text-align: left;
  line-height: 20px;
  color: #666;
}

.feature .snap {
  background: rgba(255, 245, 27, 0.38);
  padding: 0 4px 0 4px;
  border-radius: 3px;
  color: #000;
}

.logo {
  float: left;
  width: 198px;
  height: 18px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .logo {
    float: left;
    width: 198px;
    height: 18px;
    background-image: url("../images/logo-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  padding: 13px 0 12px 0;
  border-bottom: 1px solid #EAEAEA;
  background: #FFFFFF;
  transition: padding 225ms, box-shadow 225ms, background-color .3s;
}

.header.scrolled-into-view, .header.header-fixed {
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(36, 50, 66, 0.15);
  transition: padding 225ms, box-shadow 225ms, background-color .3s;
  width: 100%;
  z-index: 900;
  top: 0;
}

.header .header-container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.screenshots {
  padding-top: 100px;
  padding-bottom: 100px;
}

.screenshots .screenshot {
  text-align: center;
}

.screenshots .screenshot .screenshot-title {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #333;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .screenshots .screenshot .screenshot-title {
    font-size: 36px;
    line-height: 40px;
  }
}

.screenshots .screenshot .screenshot-subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .screenshots .screenshot .screenshot-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.screenshots .screenshot .screenshot-image img {
  width: 100%;
  height: auto;
}

.hero {
  height: 800px;
  background-color: #4776E6;
  background: linear-gradient(to left, #8E54E9, #4776E6);
}

.hero .hero-container {
  padding-top: 100px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .hero-desktop-screenshot {
  max-width: 1000px;
}

.hero .hero-desktop-screenshot img {
  width: 90%;
  box-shadow: 3px -4px 38px rgba(0, 0, 0, 0.2);
}

.hero .hero-mobile-screenshot {
  position: absolute;
  top: 330px;
  left: 50%;
  z-index: 10;
}

.hero .hero-mobile-screenshot img {
  width: 80%;
}

.hero .hero-intro-text {
  position: absolute;
  top: 150px;
  left: 74%;
  z-index: 10;
  width: 240px;
}

.hero h1 {
  color: #FFF;
  font-size: 56px;
  line-height: 60px;
  font-weight: 300;
}

.hero p {
  font-size: 22px;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hero h2 {
  margin: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero .btn {
  padding: 13px 50px;
  border-radius: 0;
}

.hero:nth-child(2) {
  background-color: #4776E6;
  background-image: url("../images/tile-bg-navy.jpg");
}

.menu-header {
  float: right;
}

.menu-header ul li a {
  color: #4776E6;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-docs ul li a {
  color: #4776E6;
  text-decoration: none;
  text-transform: uppercase;
}

.docs {
  display: flex;
}

.docs .docs-sidebar {
  flex: 0 0 300px;
  padding: 20px;
}

.docs .docs-content {
  flex: 0 0 0;
  padding: 20px;
}

.docs .docs-logo {
  display: block;
}

.docs .docs-logo img {
  width: 100px;
  height: auto;
}

.docs .docs-content {
  /* Setup */
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */
}

.docs .docs-content html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

.docs .docs-content p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.docs .docs-content ul,
.docs .docs-content ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.docs .docs-content ul li,
.docs .docs-content ol li {
  line-height: 1.5rem;
}

.docs .docs-content ul ul,
.docs .docs-content ul ol,
.docs .docs-content ol ul,
.docs .docs-content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.docs .docs-content blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.docs .docs-content h1,
.docs .docs-content h2,
.docs .docs-content h3,
.docs .docs-content h4,
.docs .docs-content h5,
.docs .docs-content h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.docs .docs-content h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

.docs .docs-content h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

.docs .docs-content h3 {
  font-size: 1.414rem;
}

.docs .docs-content h4 {
  font-size: 0.707rem;
}

.docs .docs-content h5 {
  font-size: 0.4713333333rem;
}

.docs .docs-content h6 {
  font-size: 0.3535rem;
}

.docs .docs-content table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

.docs .docs-content td,
.docs .docs-content th {
  padding: 0;
  line-height: 33px;
}

.docs .docs-content code {
  vertical-align: bottom;
}

.docs .docs-content .lead {
  font-size: 1.414rem;
}

.docs .docs-content .hug {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #1B1B1B;
  font-family: "Nunito Sans", "Open Sans", "helvetica", "arial";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */