<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drydock Themes</title>

    <link href="../../assets/css/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<div class="docs">
<section class="docs-sidebar">
    <div class="docs-logo">
        <img src="../../assets/images/logo-mobile.png">
    </div>
    <%- include('../../templates/components/menu-docs'); %>
</section>
    <section class="docs-content">
        <h2>Changelog</h2>
        <h3>1.1.0 - 2018-01-10</h3>
        <ul>
            <li>New CSS styling and templates for <strong>User Login</strong>, <strong>User Password Reset</strong> and <strong>User Reset Password</strong>.</li>
            <li>New CSS styling for team content type.</li>
            <li>Design changes to homepage.</li>
            <li>Improved tablet and mobile styling on homepage.</li>
            <li>Improved footer styling.</li>
            <li>Added user account menu.</li>
            <li>Improved styling of Service Full.</li>
            <li>Added optional hero image field to Service content type.</li>
            <li>Improved navigation buttons on owl carousel.</li>
            <li>Fixed masonry.js gallery on Work Full.</li>
            <li>Display service reference field on Work Full.</li>
            <li>Added global typography CSS for content areas (field-body) and created mixin.</li>
            <li>Cleaned up several DS templates and associated CSS files.</li>
            <li>Cleaned up unused SCSS files.</li>
            <li>Overall better padding and margins on mobile devices.</li>
            <li>Added responsive images for Work and Team content types.</li>
            <li>Created dummy content for "About Us" and "Terms and Conditions"</li>
            <li>Edited dummy content for homepage Hero node.</li>
            <li>Improved dummy content for Service content type, title and body fields.</li>
        </ul>
    </section>
</div>
</body>

</html>
